@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

nav{
    background-color: white;
    background-image: -webkit-linear-gradient(white, #ddd);
    background-image: -o-linear-gradient(white, #ddd);
    background-image: linear-gradient(white, #ddd);
    font-family: 'Slabo 27px', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    padding: 0 10% 0 5%;
    border-bottom: solid 1px #999;
}

#brand-container {
    margin: auto;
    display: inline-block;
}

#brand {
    margin: -2px 0 -15px 0;
    font-size: 1.1em;
}

#brand-text {
    clear: both;
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}