html, body {
    height: 100%;
}

body{
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    min-width: 300px;
    min-height: 450px;
}

main{
    margin: auto;
    width: 70%;
    height: 84%;
    /*background-color: rgba(200, 200, 200, .7);*/
}

#dynmap {
    margin: auto;
    width: 100%;
    height: 80%;
    border: 20px solid #d3d0d0;
    box-sizing: border-box;
    box-shadow: 0 0 20px 3px;
    position: relative;
    top: 10%;
}

.col-item-inner {

    border-radius: 10px;
    padding: 10px 10px 1px 10px;
    margin-bottom: 10px;
}

.landmark .col-item-inner {
    background-color: rgba(255, 255, 255, 0.75);
}

.people .col-item-inner {
    background-color: #FFF;
}

.landmark-img, .people-img {
    height: 170px;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: auto;
}

.people-img {
    background-position: center top;
}

.landmark-name {
    font-family: 'Slabo 27px', sans-serif;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    margin: 3px;
}
.people-name, .people-desc {
    font-family: 'Slabo 27px', sans-serif;
    text-align: center;
    width: 100%;
    margin: 3px;
}

.people-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
}